*.[ado]
*~
\#*\#
*.dev
*.log
*.pcm
*.png
*.pdf
*.pyc
*.so
*.swp
*.root
*.sh
backup/
build/
*.wrl
backup/
.build/
bin/
fieldmap
ShsFieldMap*
lib/
rootfiles/
rootfiles
tmp/
param/*.conf
param/k18conf/*
param/k18conf*
param/conf*
param/k18hs*
!.gitkeep
.vscode/settings.json 
G4History.macro
CMakeLists.txt
